body {
  background: linear-gradient(
    115deg,
    rgb(0, 0, 0) 5.8%,
    rgb(178, 14, 14) 112.6%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/image/427939628_10221074709050795_5191229045300873941_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 50vh;
  padding-bottom: 10px;
}

header h1 {
  font-size: 30px;
  font-style: italic;
  color: white;
}

body main {
  background: #bc2419;
  padding: 60px;
}

main h4 {
  color: #f7bc00;
}

main img {
  display: block;
  margin: 0 auto;
}
p {
  line-height: 2;
}
a {
  color: white;
  font-style: italic;
  text-decoration: none;
}
@media (max-width: 960px) {
  header {
    padding: 10px;
  }
  header h1 {
    font-size: 12px;
    padding: 20px;
  }

  body main {
    padding: 10px;
  }

  main img {
    display: block;
  }
}
